# Fichiers à ignorer lors du build Docker
.git
.gitignore
README.md
.htaccess
nixpacks.toml
.dockerignore
Dockerfile

# Fichiers temporaires
*.log
*.tmp
.DS_Store
Thumbs.db

# Fichiers de développement
.vscode
.idea
